[2015-11-03 10:47] acheambe opened #1 "Implementation of address data object factory"
Follow-up step to https://github.com/reTHINK-project/core-framework/issues/120 is the implementation of the address data object factory.

[2015-11-03 10:51] acheambe opened #2 "Implementation of message data object factory"
Follow-up with the implementation of message data factory https://github.com/reTHINK-project/core-framework/issues/119

[2015-11-03 10:56] acheambe opened #3 "Implementation of Syncher Manager"
Followup to https://github.com/reTHINK-project/core-framework/issues/121 is the implementation of the specified functionalities on this repository

[2015-11-03 11:03] acheambe opened #4 "Implementation of user identity Object Factory"
Follow-up on https://github.com/reTHINK-project/core-framework/issues/122 is the implementation of the identity factory specification.

[2015-11-03 11:09] acheambe opened #5 "Implementation of Catalogue Data Factory"
Follow-up implementation to [specified factory](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/service-framework/sf_hyperty_factory.md)

[2015-11-18 11:50] pchainho opened #6 "Move URLFactory and MessageFactory to dev-common repo"
I've just created the [dev-common](https://github.com/reTHINK-project/dev-common) where, as discussed, Factories as MessageFactory and URLFactory, should be. In order to import these libs from other repos, configure the [package.json](https://github.com/reTHINK-project/dev-runtime-core/blob/master/package.json#L5) accordingly.

pls ask @vitormsilva for any support needed

[2015-11-20 13:30] #6 closed, assigned to acheambe

[2015-11-23 17:51] vitormsilva opened #7 "Doubt about Message factory methods"
I started integrating of message factory on dev-runtime-core, but I have some doubts about some methods, for example, createDeleteMessage(data, attribute);

If I want to create a delete Message, firstly I need to create a createMessageRequest and with the generated message invoke the createDeleteMessage() method?

Example:

[code]

This looks weird, create a message from type 'create' and after, c

[2015-11-24 12:46] vitormsilva opened #8 "URL Factory ES5/6"
I'm looking at the code of [URLFactory](https://github.com/reTHINK-project/dev-service-framework/blob/master/src/address-factory/url.js) and looks like a mixing of ES6, ES5 and nodeJS, this is willful?

[code]

I leave here some links can be useful:
- http://es6-features.org/#ValueExportImport
- http://es6-features.org/#ClassDefinition

[2015-11-26 12:09] #3 closed, assigned to shumy

[2015-11-27 11:25] vitormsilva opened #9 "Service Framework Distribution File"
I have a suggestion to do on dev-service-framework.
1. Making a distribution file which embedded all the modules included on repository;
2. On other repositories (dev-runtime-core, dev-runtime-browser, etc) if has dependency from some modules included on service-framework, you just need install this module (dev-service-framework):

[code]

After installed you only need import the respective module

[2015-12-16 16:34] #9 closed, assigned to nobody

[2016-01-12 09:31] #5 closed, assigned to acheambe

[2016-01-12 09:32] #2 closed, assigned to acheambe

[2016-01-14 09:27] pchainho opened #11 "rethink abstract data class"
A rethink data class that implements a validate function against a json-schema identified by a Catalogue URL that can be retrieved from the Catalogue Runtime. This function is called in debug mode. All other reTHINK data classes that should comply with a standard json-schema will extend from this abstract data class.

[2016-01-15 16:54] vitormsilva opened #12 "Catalogue Factory HypertyDescriptor and ProtocolStubDescriptor properties"
I was looking for the result of descriptor, and we have methods to get the information.
The method configurationList should be a configuration method and should return an object;

I look to the [dev-catalogue](https://github.com/reTHINK-project/dev-catalogue), and the Protosub.stub file, have a configuration property, and this property should be maintained on the descriptor send to the runtimeUA,

[2016-01-20 12:36] pchainho opened #13 "Hyperty Discovery Lib"
A library to be used by Hyperties to discover in the Domain Registry, other Hyperties per userId according to [this procedure](https://github.com/reTHINK-project/core-framework/blob/master/docs/specs/runtime/dynamic-view/discovery/discovery-domain-registry-hyperty-peruser.md).

In future this lib should be updated with the discovery service, which may be supported on a new Core Runtime discovery c

[2016-01-21 14:47] #12 closed, assigned to nobody

[2016-01-21 16:00] vitormsilva opened #14 "Master VS Develop Branch"
We realize which had a huge confusion here..
All commits should be pushed to **develop branch.**

We only push to the master branch when have a **stable version of develop;**

@Trikolon, do you can procedure merge from the master branch to develop?

From now on we only push to the **develop branch;**

[2016-01-22 12:29] Endebert opened #15 "multiple definitions of "type" in Catalogue Data Model"
I noticed that in the [Catalogue Data Model](https://github.com/reTHINK-project/dev-service-framework/blob/master/docs/datamodel/hyperty-catalogue/readme.md#catalogue-data-model) the field "type" is defined by the Catalogue Data Object and some classes that inherit from it (i.e. Hyperty Descriptor and Hyperty Runtime Descriptor).

For example:
"type" is defined by the Catalogue Data Object as a Ca

[2016-01-25 15:02] pchainho opened #16 "New Data Model Package structure to improve json-schema validation"
As discussed in last [WP3 Telco](https://github.com/reTHINK-project/core-framework/blob/master/docs/meetings/2016-01-21.md) there are some issues to handle cross-referencing in the json-schema validation due to the huge number of different json-schema files. In order to reduce this number, a [new Data model package structure is proposed](https://github.com/reTHINK-project/dev-service-framework/blo

[2016-01-25 15:30] #15 closed, assigned to nobody

[2016-01-25 16:44] #14 closed, assigned to nobody

[2016-01-27 13:01] Endebert opened #17 "update createDataObjectSchema"
just a very small issue:

in CatalogueDataObjectFactory, could someone please change it so the type argument is not needed anymore? Making it more similar to the other functions, where a type from CatalogueObjectType is used.

I tried to do it myself, but RuntimeUA did not work with the the newly generated service-framework.js. I don't know if I did something wrong, so I reverted my changes.

You

[2016-01-27 15:31] #17 closed, assigned to nobody

[2016-01-28 16:01] #16 closed, assigned to acheambe

[2016-01-29 12:49] emmelmann-fokus opened #18 "Mismatch in hyperty catalogue spec documentation"
Hi,

the figures in the hyperty catalogue spec do not match the textual description.  We need to agree which is the "master" to check implementations for compliance.

https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/datamodel/hyperty-catalogue/readme.md

[2016-02-01 21:47] #7 closed, assigned to acheambe

[2016-02-02 21:14] #8 closed, assigned to nobody

[2016-02-04 11:28] #18 closed, assigned to Endebert

[2016-02-04 12:04] emmelmann-fokus opened #19 "License Analysis / Conversion of repositories into public repos / Apache 2.0 usage"
Cross posting from WP-email reflector to trac status as an issue:

Dear Paulo,
Dear all:

as requested, we conducted the analysis.  Please allow me to explicitly state that the below analysis is not a
legal evaluation of license issues and does not replace a legal consultation.  We've done the analysis
at our best knowledge following common practices when deriving code.

For the catalogue:

	We in

[2016-02-08 14:44] shumy opened #20 "Generating docs"
I'm a bit confused of, what tool is decided to be used for JS documents?
It seems that the already available docs used ESDoc, but the gulp task is pointing to JSDoc!
What was the decision behind ESDoc? We need to decide what tool to use in all repositories for this.
We also need to specify the output folders.

[2016-02-08 15:10] pchainho opened #21 "Syncher.event: new identity attribute"
Add "identity" atribute to Event class with data retrieved from "MessageBody.identity" field when present. This attribute must be compliant with [User Identity](https://github.com/reTHINK-project/dev-service-framework/tree/d3.2-working-docs/docs/datamodel/user-identity) json object.

Also add "assertedIdentity" boolean attribute to Event class with data retrieved from "MessageBody.assertedIdentity

[2016-02-08 15:13] #20 closed, assigned to nobody

[2016-02-09 10:13] pchainho opened #22 "update json-schema generation with new package structure."
Update json-schema generation tool according to new package structure as discussed in #16

json-schema generation tool should be moved to this repo: src/tools

[2016-02-10 21:12] #13 closed, assigned to gamdias

[2016-02-15 17:53] jhamfler opened #25 "Parameters in messages are not consistent in the message factory and causing trouble when stringifying them"
_Used branch: develop_ with _npm install github:reTHINK-project/dev-service-framework#develop --save_

I tried to use the message factory to send a message from a client to a messaging node. The response message had `undefined` for `id`, `to` and `from` while doing it the same way like you in your test cases. I think the error lies in the Message.js's `constructor` where the parameters are used di

[2016-02-18 10:39] #25 closed, assigned to acheambe

[2016-02-22 10:50] Endebert opened #26 "update CatalogueDataObjects & CatalogueDataObjectFactory to support "version" attribute"
According to the spec, a CatalogueDataObject is supposed to have a version attribute. Could someone please implement this and put it into the master branch? It is needed in order to make use of the persistence manager of dev-runtime-core (See https://github.com/reTHINK-project/dev-runtime-core/issues/40).

[2016-02-24 09:54] vitormsilva opened #27 "Catalogue factory - createHypertyDescriptorObject arguments"
I have some doubts related with the catalogueFactory.createHypertyDescriptorObject(), if I want to set in the descriptor file a configuration, constraints or messageSchema, how I do? in the method, we can't pass these arguments.

I know we have the set/get methods but is these correct way to do this?

[code]

The documentation for hypertyDescriptor is here:
https://github.com/reTHINK-project/dev-s

[2016-02-24 10:14] pchainho opened #28 "Message Factory update for phase 1"
Support "execute" message type.

[2016-02-29 16:08] #26 closed, assigned to Trikolon

[2016-03-01 09:33] #27 closed, assigned to nobody

[2016-03-02 18:44] #1 closed

[2016-03-02 18:46] #19 closed

[2016-03-07 09:26] vitormsilva opened #29 "Update from one distribution file to multiple"
With the objective to optimize the distribution file on dev-service-framework, we do some changes in the way how the file will be distributed;

At this moment, we have only one distribution file and aggregate all the src code inside of it;

After this optimization we will have on file for each module example.

How to import in the **New Way**;

To import the dev-service-framework modules now you n

[2016-03-17 09:50] emmelmann-fokus opened #30 "Add HelloWorld entries to catalogue"
Once HelloWorld Hyperty has reached maturity,

all information that is required to be provided from the Catalogue should be added to

https://github.com/reTHINK-project/dev-catalogue/tree/master/catalogue_objects

This will assure that the required catalogue entries are by default included in the "out-of-the-box" catalogue test installation.  This will also assure that the helloWorld related info

[2016-03-18 19:39] pchainho opened #31 "runtimeLoader: mismatch between dev-service-runtime and dev-browser-runtime"
Currently runtimeLoader implementations are different and not compatible in dev-service-runtime and dev-browser-runtime.

@dvilchez @vitormsilva pls reach an agreement for a common/compliant implementation, asap.

[2016-03-21 10:59] shumy commented on #22
Another problem that as came up is related to mismatch between UML definitions and JSON Schema. This is not a technical problem and there's nothing wrong with the actual generated schemas, it's just, they are not as useful as it seems.
The way JSON Schema is validated, is starting on a root object and verifies every field and reference attached to it. However class diagrams don't strictly follow a

[2016-03-22 11:23] shumy commented on #22
Found other minor issues:
1. How to define some special types. Currently URL's are defined as classes, these are converted to JSON object definitions. However URL's are formatted strings instead.
2. When defining a reference in PlantUML like ```ClassX --> ClassY``` there is no place to define the reference variable name. The placeolder after the definition could be used like ```ClassX --> ClassY:n

[2016-03-23 16:48] pchainho commented on #22
Just add <<(T,orchid)>> to the class definition to be a Type definition.

ok

We agreed to ignore associations like ClassX --> ClassY and to just take into account attributs defined in each class.

This one should not be an issue anymore since we agreed to ignore plantuml associations

ok

[2016-03-28 09:11] vitormsilva commented on #31
Hi @dvilchez,

After a strong analyse, we did a sequence diagram to optimise, have a consensus, something all can follow and close this problem;

I will ask to you to analyse the following diagram and say your opinion.

![runtime-browser](https://cloud.githubusercontent.com/assets/10596749/14074987/272a811a-f4cd-11e5-9953-31266ed6f13f.png)

I will waiting for some feedback.

[2016-03-28 14:07] dvilchez commented on #31
Hi @vitormsilva,

I am going to highlight some doubts for me after checking your diagram:

In 3, minibus comes in the rethink bundle, not as a separated file. Are you specifying this because your runtime loader implementation?

In 4, too much responsibility for a constructor in my opinion. As you know from my views we do not even need a constructor but in case we need one I think it is doing more

[2016-03-29 10:59] vitormsilva commented on #31
@dvilchez,

yes, but we decided separately only for we don't forget to include in that bundle the components we need;

I don't understand what you want to say with this, but this constructor needs to be responsible for creating the iframe component;

yes, I agree with you, is necessary send a response to the user with something, like, "ready";

Can you post here the sequence diagram with your chan

[2016-03-30 14:24] dvilchez commented on #31
I tried to show how it is working on my current implementation.
![runtime-browser](https://cloud.githubusercontent.com/assets/153025/14145370/ea1070e6-f693-11e5-8d39-337eb0dfecc4.png)

[2016-03-30 14:54] shumy commented on #31
There is a requirement of getting "device capabilities" and install the runtime accordingly. It should be in the flow somehow.
I also don't understand steps 12 and 13. Shouldn't the descriptor get the RuntimeUA (code or ref)? And so, should it be before the RuntimUA instantiation.

[2016-03-30 15:24] vitormsilva commented on #31
@dvilchez,

What is the content of rethink.js (step 2) and core.js (step 8)?

We think you have some problems here:
 - where you get the device capabilities?
 - can you explain the steps 11 - 14?
   - step 11 - you instantiate the RuntimeUA?
   - step 12 - and you get the RuntimeUA again?

   shouldn't be the step 12 - 13 first, and only after that, you can instantiate the RuntimeUA.

Maybe the bo

[2016-03-31 10:29] dvilchez commented on #31
@vitormsilva, @shumy

You are right I made a mistake with 12 and 13, I corrected it in the updated diagram. In addition, I added a note with core.js and rethink.js content.

@shumy I tried to represent the actual implementation and some agreements that we reached in our last visit to Aveiro. I wasn't aware of  device capabilities requirement until now and I don't know how to pass it to Runtime, so

[2016-04-04 11:51] vitormsilva commented on #31
Hi @dvilchez,

I agree with your proposal, for me you can proceed with it;

But I have some observation points:
 - we will need to get the get-devices-capabilites, this is referenced on DataModel, [here](https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/datamodel/hyperty-catalogue/readme.md#hyperty-runtime-descriptor)
 - the "sandboxFactory" need to be an "runtimeFactory",

[2016-04-04 12:30] shumy commented on #28
@acheambe Using the model defined in [Message Model](https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/message)  how do I set the optional fields in the MessageBody?
Subscribe message has some changes, can you update to be complient with the model?

[2016-04-04 13:22] shumy commented on #28
At the moment to set a optional field I have to, for example: msg.body.resource = x;
Using the "body", is no different from setting a JSON object, it has an inner line dependency of the JSON structure!

[2016-04-04 14:20] dvilchez commented on #31
Ok, I will create two issues to cover these requirements.

By the way, @vitormsilva,  I find out runtime is getting descriptors from root path instead of well-known URI, maybe is something you can fix.

[2016-04-04 15:09] vitormsilva commented on #31
Can you explain better? Could you share a print-screen or something to help me find the problem?
Thanks

[2016-04-05 08:57] acheambe commented on #28
@shumy i will update the Subscirbe message to reflect the new spec.

Regarding setting the optional fields, yes you can use the above described procedure. Or i could add setters to the fields. Which do you prefer?

[2016-04-06 15:42] shumy commented on #22
Parser was not prepared to accept relations beetween packages. It's was updated, but no JSON is generated for this.

[2016-04-07 08:26] vitormsilva commented on #31
@dvilchez, the problem reported before was solved? can I close this issue?

[2016-04-07 09:42] dvilchez commented on #31
@vitormsilva Yes, you can

[2016-04-07 09:42] #31 closed

[2016-04-11 14:49] vitormsilva opened #32 "RuntimeCatalogue Issue/Doubts"
Hi @Endebert,

In line [299 of RuntimeCatalogue](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/runtime-catalogue/RuntimeCatalogue.js#L299), this code `_this._factory.createSourcePackage()` shouldn't be `_this._factory.createSourcePackage()`?

My doubt is when you have a sourcePackageURL and it's an external URL to get the descriptor, the process to get that sourcePackag

[2016-04-11 14:52] shumy commented on #22
Parser was updated, and schemas generated.
1. Code and tool available at "tools/plantuml-json-parser/"
2. Model sources available at "schemas/"
3. JSON Schemas available at "docs/datamodel/json-schema/"

[2016-04-12 08:50] acheambe commented on #28
Support "execute" message type has been added to the MessageFactory

[2016-04-12 09:33] #28 closed

[2016-04-12 14:12] pchainho commented on #32
pls give priority to this issue that is blocking integration with the catalogue

[2016-04-12 17:32] pchainho opened #34 "Catalogue (Factory) update"
As discussed [here](https://github.com/reTHINK-project/dev-registry-domain/issues/8) searches in the runtime registry are currently very limited and don't support Hyperty searches per type.

A minor update in the catalogue data model is proposed:

- In [Hyperty Descriptor](https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/datamodel/core/hyperty-catalogue/readme.md#hyperty-

[2016-04-13 09:10] acheambe commented on #34
opps! posted of wrong issue thread.
Here is it again, on the right thread.

@pchainho
the HypertyType use to be represented by either the following HypertyTypes (Comunicator, Identity or context).
If i get you right, the HypertyType should now be represented as an array of HypertyResourceType. I can not find anywhere the specification of the HypertyResourceType. Can you give me a pointer pls?
Or d

[2016-04-13 09:13] pchainho commented on #34
The HypertyResourceType is defined in the [Hyperty Descriptor](https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/datamodel/core/hyperty-catalogue/readme.md#hyperty-descriptor) model but the textual description was not updated yet

[2016-04-13 09:34] acheambe commented on #34
ah, now i see it. Maybe the text could later be updated too, just for global understanding. the model pictures no longer match the written texts.

so instead of hypertyDescriptor.hypertyType = communicator it is now
hypertyDescriptor.hypertyType = [ a, ..z] where [a,...z] : {audio, video, chat, screen, av, midi, file }

got it.

[2016-04-13 18:56] pchainho commented on #30
This was done

[2016-04-13 18:58] pchainho commented on #22
Not done according to previously agreed structure

[2016-04-14 09:31] Endebert commented on #32
Could you please elaborate, what the problem is?

You can get the sourcePackage easily by using the function `getSourcePackageFromURL()`.

The sourcePackage is not automatically download with the descriptor to optimize traffic and only load (potentially large) sourcePackages when needed.

If you want the sourcePackage of a descriptor, I'm assuming a one-liner like this should work:

`var sourcePac

[2016-04-14 09:45] pchainho commented on #4
pls check with WP4 if we need this for Phase 1

[2016-04-14 09:53] emmelmann-fokus commented on #30
@pchainho, just reopening this issue to sync with you.

I checked the master and the dev branch but cannot see the integrated hyperty code.  Maybe a push was missing?

Please check.

Best,

M.

[2016-04-14 09:54] vitormsilva commented on #32
My mistake, I wrote in the wrong way, sorry. I will explain better;

In line [299](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/runtime-catalogue/RuntimeCatalogue.js#L299) you have `let sourcePackage = _this.factory.createSourcePackage(sp["sourceCodeClassname"], sp["sourceCode"]);` this code, but the factory is not defined like this, is defined in this way `_this._fact

[2016-04-14 09:58] emmelmann-fokus commented on #32
@vitormsilva,  does your response mean that we can close this issue or assign it to someone else.  From the discussion, I read that @Endebert does not have to take further actions.

Apologies for trying to be clear on who is working / has to work on this; but we have internally to carefully assign resources and if I can take this off of Robert's shoulders, I'd like to do that :-)

@vitormsilva ple

[2016-04-14 10:04] vitormsilva commented on #32
@emmelmann-fokus,

The first part is for @Endebert , because need to fix what i explain;

You can check the line 11

---
The other part is for me, because i need to make some changes;

I assume can close this issue when the part of @Endebert was done;

[2016-04-14 10:07] emmelmann-fokus commented on #32
@vitormsilva thanks for the clarification.

@Endebert will close this issue once his part is done.

[2016-04-14 10:50] Endebert commented on #32
@vitormsilva thanks for the clarification. Because in your initial description both code lines are identical, I didn't realize you were pointing to the missing underscore. I fixed it in this commit: https://github.com/reTHINK-project/dev-service-framework/commit/bf70bb5d5bb8da528899826ba672e4712bf7a4ca

[2016-04-14 10:50] #32 closed

[2016-04-14 17:29] pchainho commented on #22
partially done according to agreed structure. It is ready to be used for the validation of data synch objects.

[2016-04-14 17:29] #22 closed

[2016-04-14 17:33] pchainho commented on #11
The Json-schema for the validation of data objects used in the data synchronisation between hyperties are ready and available [here](https://github.com/reTHINK-project/dev-service-framework/tree/develop/schemas/json-schema/data-objects)

@acheambe  pls provide us some feedback

thx

[2016-04-15 11:43] acheambe commented on #34
Changes commited on develop branch.
https://github.com/reTHINK-project/dev-service-framework/commit/a109168170bf1be5090d61f9321eeef2b24af5e1 and https://github.com/reTHINK-project/dev-service-framework/commit/3452acd536e3ef2a39a55bae48179c438f4cea2a
please check your implementations if all is working as previewed.

I will leave this thread open on which to report any problems with these extensions

[2016-04-15 13:33] #21 closed

[2016-04-15 13:46] pchainho opened #35 "Syncher: Replace O.o() by Proxy"
Syncher is currently using the `Object.observe()` function that has been [deprecated](https://esdiscuss.org/topic/an-update-on-object-observe). [O.o should be replaced](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/observe)  by a more general [Proxy object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy).

[2016-04-15 13:56] pchainho opened #36 "Discovery: Hyperty instance search by data scheme and resource type"
Support Hyperty instance search as agreed [here](https://github.com/reTHINK-project/dev-registry-domain/issues/8) using as criteria supported resources and dataSchemes. Proposal:

`discoverHyperty(Identity.identifier userIdentifier, URL.DomainURL userDomain[], string dataSchemes[], HypertyResourceType[])`

[2016-04-18 11:00] pchainho opened #37 "Syncher: addObserver() / inviteObserver()"
Adicionar função para convidar um Observer depois do objecto criado:

inviteObserver( URL.HypertyUrl observer)

[2016-04-18 11:10] shumy commented on #37
There is no specification of the flow messages. Especially the initial messages between the Syncher and SyncherManager. I don't think the same create message can be reused, because it's an invite, not a creation process?
I suppose the message between SyncherManager and the ObserverHyperty is the same as the one used for create process.

[2016-04-18 12:54] pchainho commented on #37
The syncher can use the same Create() message having the in the body the ObjectURL that the sync manager will check already exists.

[2016-04-18 14:57] shumy commented on #37
New method "inviteObservers(URL.HypertyUrl[] observers)" added to DataObjectReporter. Passing an array is better, it's in compliance with the Syncher.create.

[2016-04-18 14:57] #37 closed

[2016-04-20 07:53] acheambe commented on #34
No issues reported so far from the update. Considering task done. Closing...

[2016-04-20 07:53] #34 closed

[2016-04-21 09:42] pchainho commented on #29
Missing, pls open issues to address this:
@gamdias (Runtime Registry; Id Module)
@shumy (Sync Manager)
@AnaSLCaldeira (Policy Engine)

[2016-04-26 10:24] pchainho opened #38 "Provisioning of the Data Object schemas in the Catalogue"
https://github.com/reTHINK-project/dev-service-framework/tree/master/schemas/json-schema/data-objects

[2016-04-26 10:42] pchainho opened #39 "remove demos"
To avoid confusions.

These are outdated

Most updated versions are in the dev-hyperty

[2016-04-26 14:04] shumy commented on #39
Removed on develop branch.

[2016-04-26 14:04] #39 closed

[2016-04-28 09:34] #29 closed

[2016-04-28 09:35] #30 closed

[2016-04-28 09:43] pchainho opened #40 "Update Service Framework docs for the toolkit"

[2016-04-28 10:08] acheambe commented on #40
can you also reference which part of the documentation (not the api docs) md files, you want reviewed?

[2016-04-28 11:00] pchainho commented on #40
This [readme](https://github.com/reTHINK-project/dev-service-framework/blob/develop/README.md) should be updated taking into account that tutorials and quick guide are now in [toolkit repo](https://github.com/reTHINK-project/dev-service-framework/blob/develop/README.md)

[2016-05-11 10:11] acheambe commented on #40
Done.
I find the documentation still very distributed across multiple repositories. This is merely a suggestion. How about aggregating all necessary documentation for developers in one repository and have [readthedocs](https://readthedocs.org/) generate a single paged documentation necessary for developers. Could be useful for the friendly-trial-developers and later for the Hackathon.

[2016-05-11 10:11] #40 closed

[2016-05-13 10:13] acheambe commented on #38
@vitormsilva when will the schemas be available on the catalogue so i can proceed with this https://github.com/reTHINK-project/dev-service-framework/issues/11

Is the provisioning manual? Or via the runtime?
br
Alice

[2016-05-19 13:36] Endebert commented on #38
Will the schemas be revised at some point? Many parts of them seem to be faulty, and e.g. context is supposed to be compliant with https://tools.ietf.org/html/draft-jennings-core-senml-01, but from what I can tell, it is not.

[2016-05-19 14:17] Endebert opened #41 "Doubts about the correctness of the data models"
For example, relating to the Context Data Object Model:
- Why is there a  field called "value", if it is a list of values?
- On the other hand, why is there a field called "units", if it is just one unit?
- Where is ContextUnit, RawContextValue and ProcessedContextValue defined?
- The Actions object has "type : Action", but where is Action defined?
- In Context I can only specify that there are "a

[2016-05-19 15:32] Endebert opened #42 "Doubts about the correctness of the json schemas"
This is also in reference to the issue with the data models: https://github.com/reTHINK-project/dev-service-framework/issues/41

For example, the schema for [HypertyResourceType](https://github.com/reTHINK-project/dev-service-framework/blob/master/schemas/json-schema/data-objects/HypertyResource.json) is not very sensible. Let's say I want to define a HypertyResource, it would have to look like th

[2016-05-20 10:58] pchainho commented on #41
thx @Endebert, I've just updated the model according to your feedback.

More below:

The "Action" class is defined in the diagram

Not clear: what do you mean by "define what they are called"?

Is defined [here](https://github.com/reTHINK-project/dev-service-framework/blob/develop/docs/datamodel/core/address/readme.md)

[2016-05-20 11:13] Endebert commented on #41
Thanks for the update. Sorry about the Action class, I must have overlooked it.

Regarding the children field, if I provide it, it seems it has to be like `'children': ['actions', 'contexts']`, but shouldn't its value be a list of enumerations or something like that? This also implies I either have no children at all, or both actions and contexts. Even still, there is no way to actually attach the

[2016-05-20 12:17] pchainho commented on #41
I'll check with @shumy but I suspect we need children definition in this way

yes, there is no composition relationship between Parent and Children. This is because only a single Hyperty Instance (the Parent Reporter) has permissions to write in the Parent object.

No, "children" is the list of children class names not capitalized. The class diagram expresses there is a one to many association bet

[2016-05-23 08:49] vitormsilva commented on #38
@acheambe, The schemes are available on both catalogues (local and remote).
The remote-catalogue is located on [dev-catalogue](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKdefault/catalogue_objects/dataschema) to install through the dockerfile.

[2016-05-23 09:03] acheambe commented on #38
thx for the update @vitormsilva. I will take a look at it. As @Endebert pointed out and from this discussion https://github.com/reTHINK-project/dev-service-framework/issues/41, changes might have to be done. however, i will go ahead and test the other schemes.

[2016-05-24 09:51] Endebert commented on #41
But then how can I provide information about what actions the hyperty supports? Let's say I have a hyperty that represents a room, and a Context that represents a light in that room. Now I want to provide some information about the actions this light supports. For example, I thought that I could say something like `children: ["setState", "setBrightness"]` but this seems to be not the case. All I c

[2016-05-27 09:59] vitormsilva opened #43 "Identity Manager - Discover user registered"
When I invoke the method [discoverUserRegistered](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/identityManager/IdentityManager.js#L52) I always have a message 'No user was not found'.

[2016-05-27 10:31] vitormsilva opened #44 "Find a specific hyperty per schema and user"
When i try to get an specific hyperty like chat, i invoke [advancedSearchPerHyperty(user, schema, resources, domain)](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/discovery/Discovery.js#L156) we should have and array of hyperties, but only have this message result;

![screenshot from 2016-05-27 11-29-35](https://cloud.githubusercontent.com/assets/10596749/15605520/57f2

[2016-05-27 14:24] Endebert commented on #41
To add to the list of problems with Data Models:

1. According to the diagram, Context class is derived both from SyncObjectChild and SyncObjectParent. This is bad practice and should be avoided, besides not even being possible in some programming languages.

2. The `type` field in SyncObjectChildren is defined as `type: string`. Yet in the Contexts class, that is derived from SyncObjectChildren,

[2016-05-27 14:52] vitormsilva commented on #44
This issue was partial solved because I'm using an old version of msg-node-vertx and domain-registry, I update and got the correct answer.

But I have one more doubt, the user parameter, need to be like `user://gmail.com/openidtest10` or should be and email like `openidtest10@gmail.com`?

[2016-05-27 14:58] vitormsilva commented on #43
I update the msg-node-vertx and domain-registry and it is working.

I have one more doubt, the response it is like `user://gmail.com/openidtest10` don't be something like the infoToken inside the `message.body.identity`?
example:

[code]

[2016-05-28 14:31] gamdias commented on #44
Added the support of both userURL and user email options. Any problem, please report.

[2016-05-28 14:37] gamdias commented on #43
That method now returns a JSON with the information  "userProfile" from this specs.
https://github.com/reTHINK-project/dev-service-framework/tree/master/docs/datamodel/core/user-identity

If more information is needed, it can be added.

[2016-05-30 13:26] vitormsilva commented on #44
The method has changed.. now is [discoveryHyperty](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/discovery/Discovery.js#L160), and it works.

My doubt now is related with [registerHyperty resources](https://github.com/reTHINK-project/dev-runtime-core/blob/dev-0.5/src/registry/Registry.js#L346), now is hard coded, you can fix this? Because when I look for scheme in this

[2016-05-30 13:38] gamdias commented on #44
About the resourcesFake/dataSchemesFake, they were created until I get the right information about the resources and schemas.

I think that some changes are needed so that I can access that information, and either are passed in the hyperty descriptor or the method registerHyperty is changed to support this information in the params received. Example: `registerHyperty(sandbox, descriptor, resources

[2016-05-30 15:21] pchainho commented on #42
Hi, the HypertyResourceType should be an enum. I'll update the model.

[2016-05-30 15:35] vitormsilva commented on #43
Hi, I don't know if I need to update the domain-registry and msg-node-vertx again, but I can't get that, only obtaining the `user://gmail.com/openidtest10` for example.

The "userProfile" doesn't have the avatar/picture yet.

[2016-05-30 19:16] pchainho commented on #41
You can! pls note that the idea is to extend the Context model to your scenario. You can add different "Childrens", one per each sensor and actuator in the room. However, I suspect your "setState" (room occupancy?) could be support by just an attribute in the "Room" data object. It would be useful to start designing the Room data model. If you provide me the types of sensors, atuators and data you

[2016-05-30 19:22] pchainho commented on #41
yes, but this is just for data model purposes. You don't have to implement this in javascript

yes, I've missed that one. Already fixed.

[2016-05-31 10:34] Endebert commented on #41
I can't change the "children" field anymore because it is set to "['actions', 'contexts']". If I would extend the model and change the value of children field, it wouldn't be in compliance with the model anymore. Of course I could make my own schema, but I thought the point is to be in compliance with the Context Data Model.

Maybe it would be best if you would just provide me with a proper json s

[2016-05-31 17:37] pchainho opened #45 "Syncher: accept or reject addChild by ParentReporter"
Extend onAddChild( .. ) function at [DataObjectReporter](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/syncher/DataObjectReporter.js) allowing it to accept or reject the requests to create Child by observers.

Extend addChild( .. ) function at [DataObjectObserver](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/syncher/DataObjectObserver.js) al

[2016-06-01 09:32] vitormsilva commented on #43
this problem was solved.

[2016-06-01 09:32] #43 closed

[2016-06-01 12:14] pchainho commented on #44
In order to fix this issue the following tasks are required:

1- pass the runtime catalogue in the runtime registry constructor -> @vitormsilva

2- registry.registerHyperty(sandbox, descriptor) : query the runtime catalogue about hyperty descriptors and supported data object schemas, collect data from them e embed them in the registration message body -> @gamdias

3- complete demos descriptors to

[2016-06-01 17:08] vitormsilva commented on #44
From my side:

1- pass the runtime catalogue in the runtime registry constructor: **done**
3- complete demos descriptors to be used in the tests: **done**

If something is not right, let me know

[2016-06-01 23:18] gamdias commented on #44
I've updated the runtime registry and now receives the schemas and resources from the catalogue.

Step 1 is **done**, step 4 is also **done**.
The last thing missing is registry.unregisterAll() from this issue https://github.com/reTHINK-project/dev-runtime-core/issues/89

Please test to see if it's alright.

[2016-06-02 11:52] vitormsilva commented on #38
The schemas on catalogue have been updated with this last version;
Closing;

[2016-06-02 11:52] #38 closed

[2016-06-02 14:02] Endebert commented on #41
In regards to:

I did some basic testing to see if this way of implementing it is actually possible, but unfortunately, that does not seem to be the case.

Let's say my reporter hyperty creates a Room object (of type Context), and adds a Light object (of type Context) as a child using `roomObj.addChild()`. Now from what I can tell, after the observer hyperty subscribed to the Room object, I believ

[2016-06-02 14:58] vitormsilva commented on #44
Seems resolved.
Closing;

[2016-06-02 14:58] #44 closed

[2016-06-02 15:06] gamdias commented on #36
Method supported in the discovery Lib.
 https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/discovery/Discovery.js

[2016-06-02 15:06] #36 closed

[2016-06-10 13:17] jboulmal opened #46 "RuntimeCatalogue.js not compatible with Nodejs Environment"
Trying to resolve the issue we have come with in [reTHINK-project/dev-runtime-core, issue #90](https://github.com/reTHINK-project/dev-runtime-core/issues/90), we found that in the _**dev-service-framework/dist/RuntimeCatalogue.js**_.Particularly, in the _**PersistanceManager.js**_, there is a notion of **localStorage**, which seems to be incompatible Nodejs.

[2016-06-10 13:28] Endebert commented on #46
I'm not the one who implemented the PersistanceManager, but localStorage is imported from an npm dependency called [`universal-storage`, which is supposed to provide localStorage both in browser and nodejs](https://github.com/eddiemoore/universal-localstorage). Could you please check if this nodejs module is installed? The dependency is present in the package.json of dev-service-framework, but not

[2016-06-10 14:00] jboulmal commented on #46
thanks for the replay, I have checked universal-storage It is already there, since we used the _**Runtime Catalogue**_ from **dev-service-framework/dist/RuntimeCatalogue.js** . we still get :_**TypeError: u.existsSync is not a function**_ at ~/dev-runtime-nodejs/dev-service framework/dist/RuntimeCatalogue.js:28:616.

[2016-06-10 14:06] Endebert commented on #46
Sorry to hear that, hopefully @dvilchez can help you, I think he believe the PersistenceManager.

[2016-06-10 14:10] jboulmal commented on #46
Thanks,
Alright than, I'll get in touch with him.

[2016-06-17 11:35] pchainho commented on #41
One possible example for a Room Context JSON Data Object with current light value (in case we have a sensor for light).

[code]

One possible example for a Child Action JSON Object added to `set-brightness-actions` children to setBrightness in the Room

[code]

In this example I've skipped the Light Context object since the actuator can be directly related with the Room object and it will simplify

[2016-06-17 11:58] Endebert commented on #41
That wouldn't work at all, a room could have many lights. And I don't want to invoke an action on the room, I want to invoke an action on a device.

And it wouldn't be compliant with the data model, because the "children" property is a constant and can't be changed anymore.

So I can't have a context object as a child of another context object?

[2016-06-17 16:07] pchainho commented on #41
Ok, in that case we would have a context object data for each light and add them as childs
to the Room Context JSON Data Object.

[code]

One possible example for one light object featuring an actuator to set brightness

[code]

Pls note that in this case the light object does not belong to any children collection and we don't use addChild(..) to add it to the parent, but you just push its URL to

[2016-06-22 10:02] luistduarte opened #47 "Discovery API returning all dataObjects"
When we use discoverDataObjectPerReporter function for example, it returns

[2016-06-22 14:10] Endebert opened #48 "IdentityManager should reject promise or return nothing, if no user information was found"
If discoverUserRegistered is called and no user information was found, i.e. registry returns with "No information could be found", the IdentityManager should not return this string, and instead either reject the promise or resolve it without anything.

In the code I see that the IdentityManager doesn't check the message code when handling the reply, which might be the reason for this problem. Howe

[2016-06-23 10:30] jboulmal commented on #46
Coming back to this issue, we have found that the problem lies in RuntimeFactory.js importing ['service-framework/dist/RuntimeCatalogue'](https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/RuntimeFactory.js#L26), we have been able to overcome this issue using bablel transpiler on `'./node_modules/service-framework/src/RuntimeCatalogue'`, and we import the transpiled from the /d

[2016-06-24 09:39] jboulmal opened #49 "Modification request on dev-service-framework for node"
The following modification concerns the [RuntimeCatalogue-Local.js#L97 ](https://github.com/reTHINK-project/dev-service-framework/blob/master/src/runtime-catalogue/RuntimeCatalogue-Local.js#L97).
In order to proceed forward in `#dev-runtime-nodejs` we have simply commented this line.
`//let descriptor = createFunc(_this, result);`
Does this have side effects on what comes after ?
We invite anyone

[2016-06-24 10:43] jboulmal commented on #49
After careful inspection on RuntimeCatalogue.js, we have found a bug in [RuntimeCatalogue.js#L409](https://github.com/reTHINK-project/dev-service-framework/blob/master/src/runtime-catalogue/RuntimeCatalogue.js#L409). Apparently, ` sp["sourceCode"] = atob(sp["sourceCode"]);` used in `RuntimeCatalogue.js` to Decode a base-64 into encoded string is not compatible nodejs.

[2016-06-24 11:24] Endebert commented on #49
There a module for this: https://www.npmjs.com/package/atob

Could this be added as a dependency and made globally available?

Otherwise we have to give the RuntimeCatalogue access to this function somehow, maybe similar to how httprequest is made available.

[2016-06-24 11:33] vitormsilva commented on #49
Yes is true, but we could do some changes, like in the runtimeFactory of nodejs or browser, we could pass the the specific implementation like [this](https://github.com/reTHINK-project/dev-runtime-nodejs/blob/nodejs-service-framework/src/RuntimeFactory.js#L48);
The module suggested by @Endebert is used on the nodejs-service-framework branch;

Regarding the first comment, why the implementation you

[2016-06-24 11:59] jboulmal commented on #49
Thank you @vitormsilva and @Endebert for your feedbacks. We will try both aprocahes`RuntimeFactory` and module [(`https://www.npmjs.com/package/atob`)](https://www.npmjs.com/package/atob) . Concerning your last question, if we comment that line, it works. However, we don't execute the callback[`let descriptor = createFunc(_this, result);`](https://github.com/reTHINK-project/dev-service-framework/b

[2016-06-24 14:03] jboulmal commented on #49
We have tried the modifications, we get the following error :

[code]
in [RuntimeCatalogue.js#L14](https://github.com/reTHINK-project/dev-service-framework/blob/service-framework-nodejs/src/runtime-catalogue/RuntimeCatalogue.js#L14)

[2016-06-24 14:46] jboulmal commented on #49
We have good news, it works. We can close this issue.

[2016-06-27 16:11] KCorre opened #50 "RuntimeCatalog.js choosing wrong runtime"
During Hyperty runtime instantiation, RuntimeCatalog.js use the saved runtime, while it should not.

**What is happening:**
Hyperty Catalog did not have a "default" runtime. So instead it was serving the first runtime as "default". This runtime had cguid 49... and version 1.
Update on catalog added a new runtime, set as default with cguid 30002 and version 1.

Request.js:53 looks for default versi

[2016-06-28 06:26] pchainho commented on #35
We should also consider the [observable](http://reactivex.io/documentation/observable.html) pattern as an option to replace O.o. Observables are used in [Angular 2.0](http://blog.rangle.io/observables-and-reactive-programming-in-angular-2/) and may be supported in [ES7](https://github.com/zenparsing/es-observable)

On going dis

[2016-06-28 09:33] Endebert commented on #50
Hi @KCorre,

As you have already figured out, the RuntimeCatalogue only checks the version when comparing the remote instance with the one in local storage. I will add a check to take the cguid in consideration.

[2016-06-28 13:10] #49 closed

[2016-06-28 15:43] NicoApizee opened #51 "Syncher class not compatible with Nodejs Environment"
The module "mutationobserver-shim" used in Syncher.js is browser specific and don't provide any implementation for nodejs (no MutationObserver API available).

We got error when loading hyperty :

[code]

The window global reference dont exist on nodejs.

The official page dont include node in compatibility list :
https://github.com/megawac/MutationObserver.js

[2016-07-13 12:46] gamdias commented on #48
Thanks for the bug detection.

The IdentityManager lib now throws reject, when no user is found.

If you see any other bug or problem, please open the issue and report :)

[2016-07-13 12:46] #48 closed

[2016-07-20 14:57] pchainho commented on #50
I assume this one can be closed. We'll reopen if needed

[2016-07-20 14:59] #47 closed

[2016-07-20 15:01] jboulmal commented on #50
Ok

[2016-07-20 15:12] pchainho commented on #42
This should be fixed now. Reopen if needed

[2016-07-20 15:14] pchainho commented on #41
I understand this has been clarified. we'll reopen it if needed

[2016-07-20 15:16] pchainho commented on #11
What is the status of this one?

[2016-07-20 15:17] pchainho commented on #4
I believe this won't be needed. We'll reopen it if required

[2016-07-20 15:17] #4 closed

[2016-07-21 11:30] vitormsilva commented on #51
I removed the mutationObserver from syncher, it was there to give support the browsers which don't support the ObjectObserve and ArrayObserve.

Now should work on nodejs.

@dvilchez
To continue to give support to other browsers different of Chrome and FF, I think the [runtime-browser](https://github.com/reTHINK-project/dev-runtime-browser), need includes on rethink.js dist file this module:

[code

[2016-07-21 11:57] dvilchez commented on #51
well @vitormsilva, I think you mean include these polifylls on the distribution file but, I am not sure if it is a good practice or it is better only include it as a dependency on the documentation.

What do you think?

As a reference:
http://programmers.stackexchange.com/questions/233980/javascript-bundle-a-required-but-common-polyfill-in-my-library
http://stackoverflow.com/questions/6599815/what

[2016-07-21 12:51] jboulmal commented on #51
Ok @vitormsilva and @dvilchez  the update is in the `develop`  or in `service-framework-nodejs` branch ?

[2016-07-22 07:32] dvilchez opened #52 "RuntimeCatalogue Illegal invocation"
Since commit 4389ce59fe48f26814eec77cdbeb2f458e83c92d runtime catalog is failing with this error:

<img width="759" alt="screen-shot-2016-07-22-09-31-29" src="https://cloud.githubusercontent.com/assets/153025/17049698/1beab798-4fef-11e6-85d6-556560f07506.png">

[2016-07-29 10:23] Endebert commented on #11
[I went ahead and extended the (optional) vaidation of RethinkObjects](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/reTHINKObject/RethinkObject.js)

Now the question is when to use this feature. It works well in the karma tests, for example I added validation as part of the tests for the [MessageFactory](https://github.com/reTHINK-project/dev-service-framework/blob/dev

[2016-07-29 15:05] Endebert commented on #42
Now that I've implemented object validation against schemas, I'm reading more about how json schemas have to be defined, and while extending tests to include validation of several object types, I've noticed that basically all of the json schemas in this repository need to be reworked.

Some examples:

* "id" field in every schema is not a valid URI
* Message.json/MessagBody and its subclasses are

[2016-07-29 15:49] pchainho commented on #42
We haven't had the chance to look on this carefully and your help is appreciated.

You should note that json-schemas were generated from [plantuml](http://plantuml.com/) defined [here (core)](https://github.com/reTHINK-project/dev-service-framework/tree/develop/schemas/core) and [here(data objects)](https://github.com/reTHINK-project/dev-service-framework/tree/develop/schemas/data-objects) using t

[2016-07-29 18:46] emmelmann-fokus commented on #42
Just a quick comment from the off (sorry, still traveling):  if the used toolchain does not produce a standard-compliant schema, we'll either have to agree to abandon the toolchain or not to verify the generated object.  We did not calculate the resources to recursively verify created objects.

@Endebert is kind enough to fix potential issue once, but once this has been initially done, the project

[2016-08-01 09:09] pchainho commented on #42
Hi Marc, the "toolchain" works fine for "data objects" schema and should work fine for the most relevant schemas in the core model including the "URL". For the ones that does not work I would suggest not to use the json-schema generator tool.

[2016-08-02 14:25] Endebert commented on #42
The provided plantuml-json-parser does not create json schemas that are good enough to be used for validation purpuses, and the current state of the schemas is also not acceptable.

Let's take the current schema for URL as an example. If I parse the current schema from the develop branch, I get this json schema:
[code]
As you can see, the `anyOf` attribute of URL is a mess, and UserURL lacks an `a

[2016-08-03 10:40] Endebert opened #53 "Improperly defined schemas (class diagrams / data models)"
In regards to issue https://github.com/reTHINK-project/dev-service-framework/issues/42, I will rework the class diagrams / data models so that they are properly defined and can be converted into useable json schemas.

[2016-08-03 15:00] Endebert commented on #50
Reopening until fix is actually in master branch. Needs issue https://github.com/reTHINK-project/dev-runtime-core/issues/101 to be solved first.

[2016-08-03 16:22] Endebert commented on #53
After some work I have come to the conclusion, that the platuml-json-parser also needs a lot of work.

Currently, it seems that either we have confusing images, but the platuml-json-parser can parse them, or we have nice images generated by platuml, but the parser cannot parse them.

Also, the parser does not properly nest packages/classes/properties, which also needs to be fixed. And instead of f

[2016-08-03 16:26] Endebert commented on #41
Reopening this until issue https://github.com/reTHINK-project/dev-service-framework/issues/53 is resolved.

I'm also using this issue to post questions/remarks regarding the data model.

Regarding the [Sync Data Object Model](https://github.com/reTHINK-project/dev-service-framework/tree/develop/docs/datamodel/data-objects/data-synch):

1. Why do we need SyncObjectChildren?

    I do not understand

[2016-08-03 17:45] pchainho commented on #42
Sorry, @Endebert , in my comment [above](#issuecomment-236528357) I wanted to say "Message" not "URL". Regarding the URL schema we had some time ago an internal discussion and by that time we've concluded it would be difficult to validate "URL" with the json-schema and, as far as I remember, we've replaced the type "URL" by "string" from other models.

But if you find a way to use it that would be

[2016-08-03 18:14] pchainho commented on #41
A SyncObjectChildren is a container of SyncObjectChild of the same type, but one SyncObjectParent may have more than one containers of SyncObjectChild. But probably you are right, and we can remove "childUrls" attribute from "SyncObjectParent".

I'm ok with this change. SyncObjectChildContainer is also an alternative. However, we should keep using the "/children" string in the URL path of SyncObje

[2016-08-08 12:40] emmelmann-fokus commented on #42
Just from a birds-eye-perspective, I would conclude that the current established toolchain or the existing schemas do not allow for validation, right?

Based on @Endebert statement

I would say that we *have means of validation* established; the validation fails which is a valid outcome for the task taken.

@pchainho : So do we go back to fixing the defined schemas as such that they can be automat

[2016-08-09 11:01] Endebert commented on #42
@emmelmann-fokus The problems go beyond the schemas themselves, unfortunately. As I have noted here https://github.com/reTHINK-project/dev-service-framework/issues/53#issuecomment-237287966, the parser tool created to convert the class diagrams to json schemas is not very mature in its current state, and instead of improving the tool, the class diagrams (schemas) have been modified so the tool can

[2016-08-10 15:03] vitormsilva opened #55 "HypertyDiscovery is deprecated"
The HypertyDiscovery library is deprecated and will be removed soon on release.
Please, update your hyperties;

New version of this library is [Discovery](https://github.com/reTHINK-project/dev-service-framework/tree/develop/src/discovery)

[2016-08-16 09:20] vitormsilva commented on #52
The runtime catalogue had a change to be compatible with node js base64 decode.
Was added to the [runtime catalogue](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/runtime-catalogue/RuntimeCatalogue.js#L13) the following:

[code]
I think if you add the following to the RuntimeFactory of runtime-browser, should work and solve the problem:
[code]

[2016-08-17 07:23] dvilchez commented on #52
Added

[2016-08-17 07:23] #52 closed

[2016-08-17 14:48] #46 closed

[2016-08-19 07:37] jboulmal opened #56 "latest update of service framework caused and error on Runtime Node"
Hi,
After updating the core-runtime and service framework `npm update`. We have got a blocking error on Runtime Node.
[code]
```Package.json :```
"runtime-core": "github:rethink-project/dev-runtime-core#develop",
"service-framework": "github:rethink-project/dev-service-framework#develop"

[2016-08-19 12:40] gamdias opened #57 "Message Factory with wrong type on field "id""
I had to remove temporarily the Message Factory from the Runtime Registry because it causes problems on messages sent to the domain registry.

The error in the domain registry:
`SEVERE: Unhandled exception
java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Number
	at io.vertx.core.json.JsonObject.getInteger(JsonObject.java:281)
	at eu.rethink.mn.pipeline.message.PipeMessage

[2016-08-23 08:42] Endebert commented on #57
As it should, according to the datamodel: https://github.com/reTHINK-project/dev-service-framework/tree/master/docs/datamodel/core/message

[2016-08-23 12:57] luistduarte commented on #57
Some messages are with string(from MessageFactory) others are with number.

What i did for solve this was, instead of
`msg.getInteger("id",0);`
i am using now
`msg.getValue("id","0").toString();`

With this, it can accept String or Integer.

[2016-08-23 13:06] vitormsilva commented on #51
@dvilchez, but if we include this as a dependency on the documentation, the bundle which is in the sandbox, don't will have access to that dependency, or has?

[2016-08-24 09:20] pchainho commented on #57
as far as I remember it was decided to have "integer" for this field. I'll updated the data model

[2016-08-24 10:40] ishantiw opened #58 "New version of Service_framework not working on runtime_browser"
We are getting an error (snapshot below) when we are trying to run [Browser: guid.html](https://github.com/reTHINK-project/dev-runtime-browser/blob/develop-GraphConnector-Test/example/guid.html) . When we run it with older version of service_framework then it's working for us but when we run it with the new version it throws `TypeError: IllegalInvocation` error.
![image](https://cloud.githubuserco

[2016-08-24 10:48] vitormsilva commented on #58
You have the last version of toolkit?
You did `npm update` or `npm install`?

This was fixed with issue #52;

[2016-08-24 10:53] ishantiw commented on #58
I did `npm update` and then it's not working. So do I need to add following piece of code to the RuntimeFactory of runtime_browser?
[code]

[2016-08-24 11:02] vitormsilva commented on #58
You shouldn't do nothing.
If you are using the toolkit on master branch, the runtime-browser should be updated as you can see [here](https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/RuntimeFactory.js#L49)

Could you delete the `node_modules` folder and do `npm install`

[2016-08-24 11:13] ishantiw commented on #58
I don't understand what is tookit? Are you referring to dev-hyperty-toolkit, maybe I'm missing something here. And I've tried to delete `node_modules` and `npm install` but it didn't work.

[2016-08-24 11:25] ishantiw commented on #58
Well I added above mentioned code to the RuntimeFactory and did `npm update` and it's working now. But I still don't understand what you wrote about the toolkit.

[2016-08-24 11:32] vitormsilva commented on #58
By I understand now, you are using the runtime-browser, to work, right?
The [toolkit](https://github.com/reTHINK-project/dev-hyperty-toolkit) was a help to load and test hyperties;
I think you are using an outdated version of runtime-browser because in the master branch, the examples were removed.

But i think you can close this issue;

[2016-08-24 11:35] ishantiw commented on #58
Yes I'm using the outdated branch and I have the `example` folder. But anyways its working now. Thanks!

[2016-08-24 11:35] #58 closed

[2016-08-24 12:04] Endebert commented on #57
When was this decided? Was this decision noted somewhere else and I missed it? Because I specifically changed the type of this field, so that it would comply with the data model and the corresponding json schema.

@pchainho , when you update the data model, please also update the corresponding json schema and the MessageFactory and Message classes.

[2016-08-24 17:57] pchainho commented on #57
A long time ago and I forgot to update the model, worry

I've just updated the json schema but MessageFactory was developed by Fokus

[2016-08-25 10:13] pchainho commented on #57
Perhaps I was wrong and no decision was taken to change the type. @sdruesedow, @NicoApizee can you confirm this, pls?

Anyway, since the "message.id" has to be incremented for every new Request message, I would be in favor to have it as an "integer": opinions?

[2016-08-25 11:28] dvilchez commented on #51
good point @vitormsilva, anyway according to canIuse web, any browser supporting web workers should support mutationobserver.

http://caniuse.com/#search=mutationobserver
http://caniuse.com/#search=webworker

I think we can close this issue.

[2016-08-31 15:46] vitormsilva opened #60 "catalogue source packages aren't saved in the local storage"
Hi,

The source package of the runtime, hyperties, etc, are always downloaded from the Catalogue and is not from the local storage.

When we analyse the URL's saved on local storage, we see the the descriptor has the sourcePackageURL, so, we will call the method getSourcePackageFromURL(sourcePackageURL) and this method, doesn't save on the local storage that URL with the respective source code.

[2016-09-01 08:06] sdruesedow opened #61 "interoperability issue: implicit path setup for <object-address>/subscription in VertX and Nodejs MNs"
I noticed that both, the VertX and NodeJs MNs are implicitely allocating a routing path for "<object-address>/subscription" directly after the allocation of an object address.
see here:
https://github.com/reTHINK-project/dev-msg-node-nodejs/blob/master/src/main/components/rethink/ObjectAllocationManager.js#L115

and here:
https://github.com/reTHINK-project/dev-msg-node-vertx/blob/master/src/main/j

[2016-09-01 08:35] Endebert commented on #60
This is intended behaviour, because: How is the RuntimeCatalogue supposed to know if the sourcePackage stored in localstorage represents the current version? The version is present in the descriptor part, but not in the sourcePackage, so `getSourcePackageFromURL(sourcePackageURL)` can't make use of the persistencemanager and never will.

[However, the revised RuntimeCatalogue in the `revised-catal

[2016-09-01 12:48] pchainho commented on #61
I've confirmed the runtime is compliant with the spec and is sending a subscribe request for "/subscription":

https://github.com/reTHINK-project/dev-runtime-core/blob/master/src/syncher/SyncherManager.js#L150

Anyway, Vertx and NodeJS MN should be updated in order to not implicitly setup this path.

[2016-09-07 07:55] NicoApizee commented on #61
I see an implicit subscription on hyperty address allocation
https://github.com/reTHINK-project/dev-msg-node-nodejs/blob/master/src/main/components/rethink/AddressAllocationManager.js#L114

Should it be remove as well ?

[2016-09-07 08:08] pchainho commented on #61
There shouldn't be any implicit subscription of addresses when address allocation is done

What is the address you are subscribing to?

[2016-09-07 08:15] NicoApizee commented on #61
It correspond to new hyperty address allocated, but I think it's the same on vertx:
https://github.com/reTHINK-project/dev-msg-node-vertx/blob/master/src/main/java/eu/rethink/mn/component/HypertyAllocationManager.java#L92

[2016-09-07 12:27] sdruesedow commented on #61
It must be removed from the vertx node as well.

[2016-09-20 08:32] sdruesedow commented on #57
The situation:
The original specification defined the message-id as <String>. The type was changed to integer about a month ago (see: https://github.com/reTHINK-project/dev-service-framework/commit/c0d70c527696ad7f48a88edc611d2e18f9101e23 ). ALL the example messages still have the id as String. The MessageFactory has recently updated it to integer (see: https://github.com/reTHINK-project/dev-servi

[2016-09-20 09:08] pchainho commented on #57
This change has already been done at [p2p-specs branch](https://github.com/reTHINK-project/specs/tree/p2p-specs/messages)

[2016-09-21 09:04] Endebert commented on #11
Since this issue is about the RethinkObject class, which is implemented and contains validation functionalities, this issue can be closed.

 The gulp task I mentioned in my previous comment has been added by me [some time ago](https://github.com/reTHINK-project/dev-service-framework/commit/922bdc7e166ee50bb168d3cc34bc2567fc20bf4b)

[2016-09-21 09:04] #11 closed

[2016-09-21 09:17] Endebert commented on #60
Seems this can be closed.

[2016-09-21 09:57] pchainho commented on #60
pls keep it open since the issue is still there and if I got you right it has a dependency with https://github.com/reTHINK-project/dev-runtime-core/issues/101

[2016-09-23 10:00] Endebert commented on #53
As mentioned in https://github.com/reTHINK-project/dev-service-framework/issues/42, due to lack of time I'm unable to rework the class diagrams and json schemas. I'm keeping this issue open until it is resolved, but clear my assignment from it.

[2016-09-23 12:12] emmelmann-fokus commented on #60
No further actions scheduled for @Endebert .  Changing assignee to allow Paulo to have an eye on the issue and to condense the number of open issues for Fokus that need to be taken care of.

[2016-10-18 15:31] vitormsilva opened #62 "Runtime Catalogue issues"
Hi @Endebert,

With the last runtime-catalogue upgrade you did, we have some issues, and doubts with what happen when the nodejs try to contact the catalogue..

Issues:
 - `console.debug` and `console.warn` aren't support by nodejs, could you please remove or change to `console.log` or `console.info`; (this happens on RuntimeCatalogue and ReThinkObject)
 - when we try to contact the catalogue, all

[2016-10-18 15:57] jboulmal commented on #62
We confirm that, using develop branch of #service-framework we got an error in `console.debug`, etc.

[2016-10-19 17:28] pchainho commented on #60
this one is fixed

[2016-10-19 17:28] #60 closed

[2016-10-19 17:28] pchainho commented on #55
time to close

[2016-10-19 17:28] #55 closed

[2016-10-19 18:01] pchainho opened #63 "Runtime Catalogue update with phase 2 data model extension"
- [x] Change in Hyperty Descriptor to include role played by Hyperty for each supported data object
- [x] New fields in Protostub Descriptor to support interworking
- [x] New fields in Runtime Descriptor to support P2P Protostubs

[2016-10-20 10:21] pchainho opened #64 "Runtime Catalogue: cguid usage at persistence manager"
Following reTHINK-project/dev-catalogue#50 , at this point cguid can't be used as the key when storing in the persistence manager. Use catalogue URL instead.

We should give priority to this one

[2016-10-20 10:33] Endebert commented on #62
Still analyzing problems, but one of the errors is caused by the nodejs runtime already parsing the result of a http(s) request, which it should not do. The RuntimeCatalogue also tries to parse the result of the request, which causes the error.

JSON parsing in Request.js is not present in the master branch of the [node js runtime](https://github.com/reTHINK-project/dev-runtime-nodejs/blob/master/

[2016-10-20 10:37] vitormsilva commented on #62
I try to do some tests, but i without success.. but i can remove it.. if help you debugging the problem.

[2016-10-20 10:40] Endebert commented on #62
It seems I got it running, at least after starting the node runtime with `npm run demo` it stops with `runtime core exited.` Or is this an error?

What I did:
1. added one line to core.js: `console.debug = console.log;`
2. removed json parsing from Request.js

[2016-10-20 10:45] vitormsilva commented on #62
Yes.. is that error..
You have a `get undefined` before the `catalogue.getRuntimeDescriptor` resolve the `then` step.

[2016-10-20 11:10] Endebert commented on #62
did some more testing: The cause of the error is that when the RuntimeCatalogue requests the sourcePackage, the complete sourcePackage is not returned, only a part of it. This leads to `SyntaxError: Unexpected end of JSON input` (I added a try-catch block for testing)

The implementation https.get is incorrect in Request.js.

[2016-10-20 11:12] vitormsilva commented on #62
Why? Could be more specific?

[2016-10-20 11:26] Endebert commented on #62
This is the relevant part in Request.js (slightly adapted):

[code]

So you create a buffer object, set it to the incoming data, then immediately resolve the promise with the buffer.

But there is a reason why there is a _buffer_, Because `response.on('data')` might be called __several times__ and you have to wait for the request to be completed before you resolve the promise with the buffer.

See

[2016-10-20 11:34] vitormsilva commented on #62
Ok.. make sense.. i will try.
Thank you for the help.

You will push to the service-framework, the changes from console.debug to console.log, or we will use the "hack" you did?

[2016-10-20 11:46] Endebert commented on #62
changed console.debug to console.log, see referenced commit.

[2016-10-20 11:47] vitormsilva commented on #62
Thank you.. i can close this issue..

[2016-10-20 12:30] Endebert commented on #64
While using the catalogue URL instead of the cguid as the key when storing descriptors with the persistence manager would be an easy workaround, I still disagree that the cguid cannot be used as a key.

Let's say we have a descriptor "A", and this descriptor has the cguid "1". Now, if you create a new descriptor "B" based on descriptor "A", and change __anything__ in the descriptor object, __it ha

[2016-10-20 13:32] vitormsilva commented on #62
@Endebert,
Sorry for reopen this issue, but we have other problem.
Is related with the `atob`. The method `createSourcePacakge(sp)` is calling the `atob`, but need call `this.atob` because of the implementation of nodejs.. this implementation is passed on the RuntimeCatalogue constructor.

Could you fix that?

[2016-10-20 13:56] Endebert commented on #62
Well, I just pushed it because you asked me to, but in the future please fix such small issues yourself.

[2016-10-20 13:56] #62 closed

[2016-10-25 10:09] pchainho opened #66 "Runtime Catalogue: replace persistence-manager by storage-manager"
As agreed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/119)

New release is pending on this one.

[2016-10-25 12:31] jboulmal commented on #66
Please @Endebert update dist/  files as well.

[2016-10-25 12:37] Endebert commented on #66
Just pushed a first version of the storageManager usage in RuntimeCatalogue to the develop branch: https://github.com/reTHINK-project/dev-service-framework/commit/1cbf2aaf3a2210f11788ee3e5382b8686e06a4f4

It's untested, since I do not have a test environment with the browser runtime using the master branch at hand. Please tell me how quickly setup such an environment, or, if someone has a matching

[2016-10-25 12:42] jboulmal commented on #66
All right @Endebert I can't test it from runtime-nodejs. However, in we need an updated version in the dist folder.
[code]

[2016-10-25 12:43] Endebert commented on #66
@jboulmal I have updated the dist folder, maybe you are using the master branch instead of develop?

Commit: https://github.com/reTHINK-project/dev-service-framework/commit/6825bdd1de2e286cb2cd8bd593f18f0a7ba3c52b

[2016-10-25 12:44] jboulmal commented on #66
in runtime-nodejs we have only used the develop branch so far.

[2016-10-25 12:48] Endebert commented on #66
Ok, but I pushed the updated dist folder commit together with the updated RuntimeCatalogue commit. Maybe delete the service framework folder and rerun npm install?

[2016-10-25 12:50] jboulmal commented on #66
OK @Endebert!

[2016-10-25 13:18] jboulmal commented on #66
I saw that you have kept the same name `PersistanceManager`.
On runtime-nodejs we got the following error message:
![screenshot from 2016-10-25 15 16 29](https://cloud.githubusercontent.com/assets/15377466/19687577/36e0b350-9ac6-11e6-8ed9-aec712b855d6.png)

[2016-10-25 13:29] Endebert commented on #66
This is because the [nodejs RuntimeFactory](https://github.com/reTHINK-project/dev-runtime-nodejs/blob/master/src/RuntimeFactory.js) does not provide a `storageManager()` function, like the [browser runtime](https://github.com/reTHINK-project/dev-runtime-browser/blob/master/src/RuntimeFactory.js) does. The RuntimeCatalogue gets access to the storageManager this way, so it needs it to work.

[2016-10-25 17:16] pchainho commented on #64
the last version of the toolkit already generates a cguid when the hyperty is changed or when `gulp encode` is executed. That's not the problem.

As mentioned somewhere else, the issue is when you have descriptors that are domain specific and they are not generated by the toolkit. For example, the Vertx protostub is used as default for our testbed and quobis testbed, and, since we have no provisio

[2016-10-26 10:04] Endebert commented on #66
changes pushed into new branch, see here: https://github.com/reTHINK-project/dev-service-framework/blob/develop-catalogue-storagemanager/src/runtime-catalogue/RuntimeCatalogue.js

[2016-10-26 11:13] luistduarte commented on #61
It was already removed on vertx node.
Issue was closed. [Ref](https://github.com/reTHINK-project/dev-msg-node-vertx/issues/24)

[2016-10-26 16:35] pchainho commented on #57
done

[2016-10-26 16:35] #57 closed

[2016-10-26 16:36] pchainho commented on #56
should be fixed. reopen if needed

[2016-10-26 16:36] #56 closed

[2016-10-26 16:39] pchainho commented on #50
done

[2016-10-26 16:39] #50 closed

[2016-10-27 13:37] Endebert commented on #64
I would rather have a remark in the documentation about this, than changing the code of the RuntimeCatalogue. I.e. "Beware that if you modify the descriptor and/or the sourcePackage, you also have to change the cguid"

[2016-10-27 13:48] pchainho commented on #66
what is the status of this one?

[2016-10-28 16:52] pchainho commented on #64
where?

Nevertheless, we should not leave the enforcement of these rules to humans (that can maliciously use this weak point to cause serious damages) when they can be securely enforced by machines.

Actually, we have a simple rule to be enforced: default protostubs from different domains can't have the same cguid.

[2016-10-31 17:51] vitormsilva opened #68 "Failure karma tests"
We will activate the [travis-ci.com](https://travis-ci.com), and in order to do the release, this repository has some failed tests which should be fixed.

@Endebert
[code]
@gamdias:
[code]
@Endebert
I know which this test was failing because need the catalogue-broker and catalogue-database running locally, but we have 2 points:
- the "FirstHyperty", "FirstProtostub", "FirstRuntime" don't exists an

[2016-11-02 13:27] jboulmal commented on #66
The integration with runtime-nodejs is progressing but we get following error :
[code]

[2016-11-02 14:12] gamdias commented on #68
The identityManager tests were fixed.

[2016-11-03 11:09] emmelmann-fokus commented on #64
And this is simple: if you provide a default protostub from a different domain just just fill in the CGUID field when you provide the protocol sub;  there are several well-known ways for the provider of that object to generate a ID which is globally unique.

To make the issue very transparent:  The standard says "do not cross the intersection if the traffic light for you is red".  People have to f

[2016-11-03 11:26] pchainho commented on #64
The problem is that your "traffic light" lets providers to maliciously change the lights and cause accidents. And you can prevent that in the runtime catalogue with a very simple standard rule: block the load of a default protostub which cguid is equal to a cguid from a default protostub that was previously loaded from another domain.

As already discussed, the generation of the cguid is not a pro

[2016-11-03 12:35] Endebert commented on #64
To close this issue, I implemented the following solution: The Catalogue Database will ignore cguids defined in the catalogue object and instead generate a cguid automatically based on the hash of the object instead. The probability that we have 2 different catalogue objects with the same cguid/hash is about 1/2147483647. If this is not good enough we will can maybe consider further adding a salt

[2016-11-03 12:35] #64 closed

[2016-11-03 12:49] vitormsilva commented on #68
@Endebert, could you fix the karma tests for CatalogueDataObjectFactory, it's only one test.

you could check here: https://travis-ci.org/reTHINK-project/dev-service-framework/jobs/172882458

[2016-11-03 13:10] Endebert commented on #66
No further comments. Changes were merged into the develop branch. Closing issue

[2016-11-03 13:10] #66 closed

[2016-11-03 13:11] Endebert commented on #68
Will be solved as part of solving https://github.com/reTHINK-project/dev-service-framework/issues/63

[2016-11-03 13:30] pchainho commented on #68
humm these are new features for phase 2. We are talking about a release that is pending for weeks ...

[2016-11-03 14:01] jboulmal commented on #66
I have solved this small error by keeping also persistanceManager.

[2016-11-03 14:14] Endebert commented on #68
Just pushed a change to the CatalogueDataObjectFactory and its test file. Please check if this stops the karma tests from failing, I can't test it locally.

[2016-11-03 14:23] vitormsilva commented on #68
Thank you @Endebert,
Is fixed now.. https://travis-ci.org/reTHINK-project/dev-service-framework/builds/172955907

Closing issue

[2016-11-03 14:23] #68 closed

[2016-11-08 17:50] vitormsilva opened #70 "Fix typo on Syncher create"
@dvilchez,

Why do you change the `schema` to `scheme` on Syncher with this commit https://github.com/reTHINK-project/dev-service-framework/commit/46a591cb65604ebdec8f9767928ea807ba818192

The correct one is `schema` - https://github.com/reTHINK-project/specs/blob/master/messages/data-sync-messages.md#hyperty-data-object-creation

[2016-11-08 21:08] pchainho opened #71 "Runtime Capabilities Manager"
As discussed [here](https://github.com/reTHINK-project/specs/issues/13) add new Runtime Capabilities Manager to be instantiated by RuntimeFactory similar to Storage Manager, with the following API:

- getRuntimeCapabilities() - returns as a promise [RuntimeCapabilities](https://github.com/reTHINK-project/specs/blob/master/datamodel/core/hyperty-catalogue/readme.md#hyperty-runtime-descriptor) json

[2016-11-09 10:33] jboulmal commented on #61
It's fixed [here](https://github.com/reTHINK-project/dev-msg-node-nodejs/blob/master/src/main/components/rethink/ObjectAllocationManager.js#L115).
We can close this issue now then.

[2016-11-10 09:07] #61 closed

[2016-11-10 10:57] sdruesedow commented on #70
This should perhaps be discussed in a more general scope, because in the address allocation message spec it is always "scheme", not "schema". (see https://github.com/reTHINK-project/specs/blob/master/messages/address-allocation-messages.md)

[2016-11-11 13:02] #71 closed

[2016-11-14 07:33] dvilchez commented on #70
@vitormsilva I don't remember it was five month ago, but I'm pretty sure I didn't do it on my own.

[2016-11-14 15:22] #70 closed

[2016-11-14 17:45] pchainho commented on #70
@sdruesedow

This is a different situation. In that case it is really the URL scheme as defined by [WHATWG](https://url.spec.whatwg.org/#urls). It is provided in order to generate the URL address with the right scheme.

@dvilchez it is very important that only the repo "owners" merge or push to masters / develop branches. Others should do pull requests to these branches.

[2016-11-14 18:04] dvilchez commented on #70
I am not sure, but I guess you asked me for doing some changes when @vitormsilva was on holiday... believe me, I don't do any change in this repo without your permission.

[2016-11-14 19:08] pchainho opened #74 "Discovery: add global discovery features"
Pending on [this](https://github.com/reTHINK-project/dev-runtime-core/issues/33) one.

[2016-11-17 20:02] pchainho opened #75 "Runtime Catalogue: get list of available catalogue objects per type"
This is required, at least, to dynamically provide in the IDM GUI Admin, available IDP Proxies. Currently this is hardcoded

[2016-11-23 16:44] pchainho commented on #35
Experiment [this lib](https://github.com/anywhichway/proxy-observe) that should support O.o on top of Proxy

[2016-11-23 20:25] pchainho opened #76 "Filter Catalogue Objects according to RuntimeCapabilities"
see reTHINK-project/specs#13

[2016-11-23 20:27] #63 closed

[2016-11-23 20:30] pchainho opened #77 "httpRequests : update to support post with payload"
Required by [Runtime Catalogue to get constrained catalogue objects](https://github.com/reTHINK-project/dev-service-framework/issues/76)

[2016-11-25 12:15] Endebert commented on #76
Just FYI, progress on the Catalogue side is going well, I'd say roughly 2 more weeks until both parts are done (Catalogue & RuntimeCatalogue). I will push an updated version of RuntimeCatalogue with the adapted functions into a new branch, so that you already have something to implement against.

[2016-12-05 11:01] dvilchez commented on #77
Updated on runtime-browser#develop c3f74007f464107ef8ff7bb1e1566986128fe1d5

[2016-12-05 14:33] jboulmal commented on #77
Done here https://github.com/reTHINK-project/dev-runtime-nodejs/blob/capabilities/src/Request.js

[2016-12-12 14:45] pchainho commented on #76
@dvilchez has already provided that implementation

[2016-12-12 15:19] dvilchez commented on #76
Yes, in here https://github.com/reTHINK-project/dev-runtime-browser/commit/c3f74007f464107ef8ff7bb1e1566986128fe1d5

[2016-12-12 16:04] emmelmann-fokus commented on #76
closing this issue then.

[2016-12-12 16:04] #76 closed

[2016-12-16 09:22] jboulmal opened #78 "storage Manager for Runtime Node is blocking occasionally"
Hi,
In Runtime Node we have parallel database connections from several and parallel node.js processes. Therefore, the database is in blocking states for concurrent read/write. Mainly here  [[StorageManager] - getVersion for key](https://github.com/reTHINK-project/dev-service-framework/blob/master/src/storage-manager/StorageManager.js#L71)
Thus, we need a way to handle exceptions during transaction

[2016-12-16 14:48] jboulmal commented on #77
Done  [here](https://github.com/reTHINK-project/dev-runtime-nodejs/blob/capabilities/src/Request.js#L68), but hasn't been tested yet!

[2017-01-04 17:18] pchainho commented on #78
it seems the usage of Dexie in nodejs is causing problems.

@dvilchez should we replace Dexie by something else like [PouchDB](https://pouchdb.com/learn.html)

We should give priority to this one

[2017-01-06 14:11] jboulmal commented on #78
Solved here [70f3d2ceeb3cf3a712c5a678e503692168443394](https://github.com/reTHINK-project/dev-runtime-nodejs/commit/70f3d2ceeb3cf3a712c5a678e503692168443394)

[2017-01-06 14:11] #78 closed

[2017-01-09 14:27] jboulmal commented on #77
We have used the [node-fetch](https://github.com/bitinn/node-fetch) for `GET` and `POST` methods. Thus, it should work.

[2017-01-09 14:30] pchainho commented on #35
Fixed [here](https://github.com/reTHINK-project/dev-service-framework/tree/dev-proxy-observe).

Missing final test with nodejs that is pending on [this](https://github.com/reTHINK-project/dev-runtime-core/issues/149)

[2017-01-10 16:58] vitormsilva commented on #51
We can close, because with the implementation of Proxy [here](https://github.com/reTHINK-project/dev-service-framework/commit/ea0569dba2b00b497141c12025520d519ff26b23) we don't have this problem;

[2017-01-10 16:58] #51 closed

[2017-01-11 16:56] rjflp commented on #74
Is this the same as discussed where: https://github.com/reTHINK-project/dev-registry-global/issues/12 ?

[2017-01-16 10:00] pchainho opened #79 "Storage Manager: Backup Service support"
As specified [here](https://github.com/reTHINK-project/specs/issues/23)

[2017-01-16 10:35] pchainho commented on #74
yes, but to be supported by the [discovery lib](https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/discovery/Discovery.js).

[2017-01-16 14:18] pchainho commented on #35
Working fine with Mutual Authentication disabled

[2017-01-16 15:39] vitormsilva opened #80 "Runtime Catalogue Error obtaining the sourcePackage"
When i use the runtimeCatalogue from develop branch, i have the following error, obtaining the sourcePackage..

![screenshot from 2017-01-16 15-30-13](https://cloud.githubusercontent.com/assets/10596749/21988914/d7bee744-dc00-11e6-8521-791a6715c244.png)

I'm using the [catalogue-database-reTHINKdefault](https://github.com/reTHINK-project/dev-catalogue/tree/master/docker/catalogue-database-reTHINKd

[2017-01-16 16:02] pchainho commented on #80
It seems there was a [merge](https://github.com/reTHINK-project/dev-service-framework/commit/fe4a3e4033858f109cb2b260f131c59a6079b1f9) and no pull request. Pls revert and check again

[2017-01-16 16:51] dvilchez commented on #79
Some doubts:

- Create syncher on StoageManager. To create a syncher I need the domain, the hypertyURL, the target hypertyURL, the bus and the configuration. Could you state what are the right values for these params.

- Add a DataItem.

I guess each value could have its own backupAuthorised configuration. Where in the Databackup object can I set up this param?

- Resume the Dataobject sync. The u

[2017-01-16 19:30] rjflp commented on #74
OK. So it is not related to that issue https://github.com/reTHINK-project/dev-registry-global/issues/11.

I has only to do with integrating, into the runtime discovery lib, the search by GUID. A connector for the global registry already exists in Vertex. So this is a question of interacting with it. Right?

[2017-01-17 10:17] pchainho commented on #74
As far as I understand, since Global Registry does not support GUID discovery by IDP Identifiers, we have to use the discovery service

[2017-01-17 16:15] rjflp commented on #74
@ingofriese Is there a simply way for the runtime to query the discovery service? Is there a connector for a message node?

[2017-01-17 16:15] rjflp commented on #74
@pchainho Should we implement search by GUID using the Global Registry or not?

[2017-01-17 20:21] pchainho commented on #74
Yes, I think it is better.

[2017-01-20 15:42] sbecot commented on #74
The search by GUID can be implemented with a simple http GET and the global registry is public. I don't see any added value in going through the msg node though a connector.
Concerning the discovery service, it's basically the same, and more, implementing a connector is adding comlpexity, and oblige to maintain more code. To finally do an http GET.
This way of doing tightly couple the componants.

[2017-01-23 12:08] pchainho commented on #77
I understand it is working fine.reopen if needed

[2017-01-23 12:08] #77 closed

[2017-01-23 12:09] #35 closed

[2017-01-23 12:14] pchainho commented on #74
The runtime is agnostic of protocols or external APIs.

Currently it should only depend on the Catalogue well-known URIs

@rjflp any progress on this?

[2017-01-23 13:28] sbecot commented on #74
I am sorry but this is not true. On the contrary the runtime seems to be linked to the apis of the external components through their APIs, meaning that you need to develop and maintain many connectors. The runtime should be as thin as possible.
Implementing a new protocol does not mean that you are agnostic, it means that you use a proprietary one.

[2017-01-23 13:40] pchainho commented on #74
could you be more clear, perhaps with some examples?

I suspect there is some miss-understanding here

[2017-01-24 09:43] jmcrom commented on #74
jst a basic fact: most of the web today is not rethink-compliant, not even rethink-aware

to bring them to rethink we have to shows s that the cost of integration is minimal whilst the benefits are huge

[2017-01-24 14:26] Endebert commented on #80
Has this issue been resolved? Have you tried clearing localstorage? Because in the screenshot I can see that a saved version of the descriptor is taken from the storagemanager, which might be the cause of the problem.

Or maybe it is related to the broken docker image, as we discussed here: https://github.com/reTHINK-project/dev-catalogue/issues/55

[2017-01-24 15:28] sbecot commented on #74
Just to be more clear, at the begining I was expecting the message node, and the runtime, to be as thin as possible. This means that the msg bus would route messages dedicated to hyperty signaling, even for catalogue and domain registry if you considere msg node as a gate keeper.
I see now in your implementation that _all_ is routed in the msg bus, even support services, which means overhead, comp

[2017-01-26 18:43] pchainho commented on #74
@jmcrom I completely agree with you but I think discovery service and global discovery are rethink backend support services

@sbecot the message node is light. Runtime is not so light but that was expected since it is where we have the "business logic" running at the edge. We knew that from the very beginning. Currently we are using the msg node as "gatekeeper" of backend services because that 's

[2017-01-27 12:13] vitormsilva commented on #80
Hi @Endebert,

No, the issue was not resolved.
When I did this screenshot, started with a clean localstorage.. but tried some times.

The problem with docker image, also no, I did this after you fix the docker images.

I think it was related to the implementation of constraints you did.. I don't know, it's only a guess.. but this happening after that changes been merged to develop branch.

At this

[2017-01-30 13:30] Endebert commented on #80
@vitormsilva you are definitely right, there should be one of those 2 log messages before `attachRawSourcePackage` is called. I have no idea why it would skip some part of the code.

From what I can see, there is no problem with the Catalogue Broker or Database.

My guess is that there is a bug in storageManager that causes this problem. If we look at the `getVersion` function:
[code]

This part l

[2017-01-30 14:48] emmelmann-fokus commented on #75
should be resolved by commit https://github.com/reTHINK-project/dev-service-framework/commit/e7f7bbd999a8b05dea4156e01dbad6ae89c157f6

[2017-01-30 14:48] #75 closed

[2017-01-30 16:12] BernardoMG commented on #74
@ingofriese @pchainho

I'm starting looking at this and from the comments above i guess we didn't reach a conclusion related on how to issue queries from the runtime to the discovery service. So, how should the queries be issued? Is there a connector, or the REST endpoints should be used to make HTTP calls, and therefore get the GUID?

Use case: Translate a user url or email to obtain the associat

[2017-02-01 16:15] rjflp commented on #74
Current status:

-Waiting for "java loader" being written to complete integration with Discovery Service
-Have completed integration with Global Registry. Still testing before release.

[2017-02-06 12:17] pchainho opened #84 "Update documentation"
Update documentation in your source code and then execute `npm run build:doc`.

[2017-02-07 11:46] Endebert commented on #42
Since we're nearing the end of the project, I'm closing all spec related issues, like this one.

[2017-02-07 11:46] #42 closed

[2017-02-07 11:47] Endebert commented on #41
Since we're nearing the end of the project, I'm closing all spec related issues, like this one.

[2017-02-07 11:47] #41 closed

[2017-02-07 11:47] Endebert commented on #53
Since we're nearing the end of the project, I'm closing all spec related issues, like this one.

[2017-02-07 11:47] #53 closed

[2017-02-07 15:49] rjflp commented on #74
Apparently we went the wrong way on this one! We implemented the "client side" on the discovery lib (runtime) that enabled the runtime to communicate with the Global Registry via Message Node. We get the replies back, but have no way to verify the signature.

We should have used the Graph Connector, that already does most of this (if not all). @fbeierle is having a look at how to best integrate th

[2017-02-07 16:03] fbeierle commented on #74
The Graph Connector is a runtime core component that already interacts with the Global Registry. Similar to the Domain Registry, a connector in the Message Node (https://github.com/reTHINK-project/dev-msg-node-vertx/tree/master/src/js/connector) handles the call to the Global Registry REST interface.
You can find the code for querying the Global Registry here, including the checks of the signature

[2017-02-07 16:59] BernardoMG commented on #74
I agree with @fbeierle. Since we have implemented the exactly same query that Graph Connector does to get GUIDs ("READ") from the Global Registry; however, we didn't verify the signatures.

Using (c), it'll only be necessary to add one more query in the discovery lib that sends CREATE messages to Global Registry.

[2017-02-07 18:44] pchainho commented on #74
This is ok if the discovery Lib is in the runtime core but I believe this was already done: do you confirm @BernardoMG ?

[2017-02-08 18:11] rjflp commented on #74
@fbeierle @pchainho I would say that I prefer option b). The discovery lib would only encapsulate the methods for "discovering" hyperties: Discovery Service, Global Registry and Domain Registry. Eventually, it could also have a method for querying the Graph Connector?

The Graph connector provides more complex functionality (such as creating and inserting GUIDs into the Global Registry) which are

[2017-02-08 18:21] rjflp commented on #74
@BernardoMG Noticed that we currently have a duplication of code to create and send and receive messages to/from the Message Node. We have it at least in the Discovery Lib and in the Graph Connector. Regardless of how we go forward with the integration, it would be wise to refactor the code to use the same methods for contacting the Message Node.

Is there more code in the runtime to contact the M

[2017-02-11 17:48] pchainho commented on #80
I understand it was fixed. reopen if needed

[2017-02-11 17:48] #80 closed

[2017-02-11 18:02] pchainho commented on #74
What kind of duplication? In general, the exchange of messages between the runtime and back-end services are performed disregardless of the Message Node. For example, the discovery lib just has to use the domain registry address `domain://registry.<domain>` to exchange messages with it.

Anyway, I agree there are some components that should be refactored. At this point I'm not going to name them y

[2017-02-16 14:19] rjflp commented on #74
Currently going with @fbeierle option b) to factor all the Discovery Service, Registry interactions into the Discovery Lib.

For communication with the Global Registry, we use the GraphConnector.

Registry.js is being refactored to use Discovery Lib.

This seams to be the way to "save" the most on code duplication.

[2017-02-22 19:17] BernardoMG commented on #74
Done.

Discovery Lib is now integrated in runtime-core (branch `discovery-integration`), supporting several global discoveries.

In total, supports ten different discoveries in respect of hyperties and dataObjects.

It was used the branches:

dev-runtime-core: `discovery-integration`
dev-hyperty-toolkit: `addressbook-app`
dev-registry-domain: `develop`
dev-msg-node-vertx: `develop`
dev-service-fra

[2017-02-22 21:41] pchainho commented on #74
I don't find the listener for "<runtimeURL>/discovery" and corresponding changes in the Service Framework discovery lib. Pls also don't forget to specify the messages used as well as the unit tests

[2017-02-23 09:46] BernardoMG commented on #74
The listener is present in [runtime-core](https://github.com/reTHINK-project/dev-runtime-core/blob/discovery-integration/src/discovery/Discovery.js).

Still working on the exchange of messages between Core Discovery (runtime-core) and Discovery Lib (service-framework).

[2017-03-03 09:45] dvilchez opened #88 "Omit resources parameter in discovery.discoverDataObject makes msg-node fail"
The msg-node error

`2017-03-03 09:37:48 INFO  BROKER - IN: (id: 1, type: read, from: hyperty://localhost/cdee3352-536c-4b9c-965d-046868b8b85e, to: domain://registry.localhost/)
2017-03-03 09:37:48 INFO  BROKER - RESOLVED: hyperty://localhost/cdee3352-536c-4b9c-965d-046868b8b85e - TO runtime://localhost/71f456f6-db18-16b7-f302-055607d5dd9e/c6c83248-93e2-4c0a-a1f9-12efb6e6c6ae
[RegistryConnector.ha

[2017-03-03 10:41] pchainho commented on #88
this seems to be domain registry connector

[2017-03-03 11:19] dvilchez opened #89 "Reject error and resolve successful messages"
In https://github.com/reTHINK-project/dev-service-framework/blob/develop/src/discovery/Discovery.js#L192 when the search returns an empty list the discovery throws an error. IMHO this is wrong an empty list is not an error and require library users handle an empty list like an exception.

On the other hand, error messages are resolved and the original message is returned.

[2017-03-03 11:30] dvilchez opened #91 "Stored assertions"
There is no way to set en expiration time for stored assertion.

[2017-03-03 11:36] pchainho commented on #91
duplicated with [this one](https://github.com/reTHINK-project/dev-runtime-core/issues/163) ?

[2017-03-03 12:16] tiagolb commented on #91
@dvilchez what do you mean set expiration time? The expiration time is set by the IdP, not by "us".

[2017-03-06 15:41] nunofmn commented on #88
I'm unable to replicate this bug. Here is working fine using the branches `develop` and `R0.7.0` in `dev-registry-domain`.

Do you have the logs from the domain-registry?

[2017-03-08 15:54] tiagolb commented on #91
@dvilchez can you please explain this issue more clearly?

Thanks

[2017-03-09 15:34] tiagolb commented on #91
This issue has been closed [here](https://github.com/reTHINK-project/dev-runtime-core/issues/163)

[2017-03-09 15:34] #91 closed

[2017-03-10 10:38] dvilchez commented on #88
Ok, it doesn't fail with the last version of domain-registry but you have to set at least name and schema to get some results, I don't know if that is an error if it is not, you can close this issue

[2017-03-10 16:02] BernardoMG commented on #89
Hi @dvilchez.

All discover methods returns a error when was not possible to discover something ( "Not Found"). Currently, I'm refactoring the discovery lib to support the integration with Core Discovery and I'm following these specs : https://github.com/reTHINK-project/specs/blob/master/messages/discovery-messages.md

As you can see, when the discover method finds something (Hyperty/DO) return it

[2017-03-13 16:52] dvilchez commented on #89
Hi @BernardoMG,

I've updated to last version of registry domain and now it returns a 404 error for not found the result. Anyway, the problem with your code is it doesn't have into account the code in the response to resolve or reject the promise.

[2017-03-13 17:09] BernardoMG commented on #89
Ok, good. I didn't work on that version of the discovery lib. I'm working on another branch that already takes into the account HTTP response codes. Probably today or tomorrow I'll commit the changes.

So, can I close this issue @dvilchez ?

[2017-03-13 17:23] dvilchez commented on #89
Yes, sure!

[2017-03-13 17:57] #89 closed

[2017-03-16 18:24] BernardoMG commented on #74
Messaging between the Core Discovery and Discovery Lib implemented according to [this](https://github.com/reTHINK-project/specs/blob/master/messages/discovery-messages.md).

You may try it using the following branches:

dev-runtime-core: `discovery-integration`
dev-hyperty-toolkit: `addressbook-app`
dev-registry-domain: `develop`
dev-msg-node-vertx: `connector-release-0.8.0`
dev-service-framework:

[2017-03-16 18:34] #88 closed

[2017-03-21 18:06] pchainho commented on #74
@BernardoMG [Graph Connector was merged](https://github.com/reTHINK-project/dev-runtime-core/pull/167) with Runtime Core develop branch

[2017-03-22 19:32] BernardoMG commented on #74
Discovery methods that could receive the email are now updated in order to use the new [query per user email](https://github.com/reTHINK-project/dev-registry-domain/issues/53) supported by the Domain Registry.

[2017-03-31 13:06] jboulmal opened #97 "Latest updates on develop throwing error on nodejs-runtime"
Hello,
Recently, We have got the following error while loading (`latest runtime`)  from toolkit on `develop` branch.
[code]

In order to  reproduce the above error :

[2017-04-06 09:58] Trikolon commented on #97
Please prioritize this issue. We need it fixed for our demo deployment. See https://github.com/reTHINK-project/dev-runtime-nodejs/issues/21

[2017-04-06 10:15] emmelmann-fokus commented on #97
@pchainho could you assist in progressing this issue, please.

[2017-04-06 11:32] pchainho commented on #97
lets fix this next week in the integration meeting

[2017-04-08 09:38] pchainho commented on #79
A short term solution is to use [dexie sync server](https://www.npmjs.com/package/sync-server)

[2017-04-12 12:12] jboulmal commented on #97
Problem solved in Aveiro integration.

[2017-04-12 12:12] #97 closed

[2017-04-12 12:28] BernardoMG commented on #74
Global discovery features are now merged and working for browser and nodejs.

You may try it using the following branches:

dev-runtime-core: `develop`
dev-hyperty-toolkit: `develop`
dev-registry-domain: `develop`
dev-msg-node-vertx: `develop`

The testbed will be updated in the next days.

We'll update the test of `Discovery` in service-framework and add new tests for `CoreDiscovery` in runtime-c

[2017-04-17 11:38] pchainho opened #100 "Discovery: remove own Hyperty URL from discovered Hyperties"
The Hyperty using the discovery lib should not be part of the returned results.

[2017-04-17 16:26] BernardoMG commented on #74
All tests have been updated. This issue is complete.

[2017-04-17 16:26] #74 closed

[2017-05-03 16:21] BernardoMG commented on #100
This issue is complete. Changes are in `hyperty-notifications` branch. We will create a PR when we complete also this [issue](https://github.com/reTHINK-project/dev-registry-domain/issues/32).

[2018-04-03 08:52] pchainho opened #138 "Wallet Manager"
Add Wallet Manager lib similar to Context Manager

[2018-04-04 15:48] pchainho commented on #138
[done](https://github.com/reTHINK-project/dev-service-framework/commit/0918a8532b537a8414a8aaca0d19f038906a5bbb)

[2018-04-04 15:48] #138 closed

[2018-08-29 09:35] #79 closed

[2018-08-29 09:36] #45 closed

[2018-08-29 09:36] #84 closed

[2018-08-29 09:36] #100 closed